# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Logs
logs/

# VS Code Settings
.vscode/

# Spark Temporary Files
spark-warehouse/

# Parquet Files
*.parquet

# Jupyter
.ipynb_checkpoints/